/* General container */
.AddServiceContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay */
  z-index: 9999; /* Ensures it appears above all other elements */
}

/* Center the service card within the full-screen container */
.AddServiceCard {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  width: 90%; /* Adjust width for smaller screens */
  max-width: 500px; /* Limits max width on larger screens */
  text-align: center;
  overflow-y: auto;
  max-height: calc(100vh - 100px); /* Keeps some space at the top and bottom */
  transition: transform 0.2s ease;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.AddServiceInput {
  margin-bottom: 20px;
  text-align: left;
  transition:transform 0.2s ease;
}



.AddServiceInput label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.AddServiceInput input,
.AddServiceInput textarea,
.AddServiceInput select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.AddServiceInput textarea {
  resize: none;
}

/* Image preview */
.AddServiceImage {
  margin-top: 20px;
}

.AddServiceImage img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Submit button */
.AddServiceBtn {
  width: 100%;
  padding: 12px;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.AddServiceBtn:hover {
  background-color: #4b4b4b;
}
