.cube{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    display:flex;
    justify-content:center;
    align-items: center;
    perspective: 1000px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%; /* This makes the circle */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 200px; /* Adjust the size to fit within the circle */
    height: 200px;
    background: url("../media/logo.svg") no-repeat center;
    background-size: contain; /* Ensure the logo scales properly */
  }