.Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 1000; 
    font-size:1.3em;
}

.HeaderLeft {
    display: flex;
    align-items: center;
}

.HeaderLeft div {
    margin-right: 20px;
    border-radius: 5px;
    padding: 12px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headerMenu{
    background-image:url("../media/menu.svg");
    background-repeat:none;
    background-size:cover;
    width:50px;
    height:50px;
    padding:0px
}

.HeaderRight {
    display: flex;
    align-items: center;
}

.headerLogin{
    color: white; 
    margin-right: 10px; 
    width: 100px;        
    height: 40px;       
    background-color: black;        
    border-radius: 20px; 
    display: flex;
    justify-content: center;  
    align-items: center;  
    cursor: pointer;     
    transition: background-color 0.5s ease, color 0.5 ease; 
}

.Logined{
    background-image:url("../media/login.svg");
    background-repeat:none;
    background-size:cover;
    width:78px;
    height:80px;
    padding:0px;
    margin:50px;
}
.HeaderRight div {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.headerSignUp {
    margin-right: 50px; 
    width: 100px;        
    height: 40px;       
    background-color: black;  
    color: white;       
    border-radius: 20px; 
    display: flex;
    justify-content: center;  
    align-items: center;  
    cursor: pointer;     
    transition: background-color 0.5s ease, color 0.5 ease; 
}

.headerSignUp:hover, .headerLogin:hover{
    background-color: #ebebeb;  
    color:black;
}
