
.SignUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f7f7f7; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000; 
}

.SignUpBox {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    z-index: 3; 
    opacity: 1;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}

.SignUpInput {
    margin-bottom: 20px;
}

.SignUpInput label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.SignUpInput input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.SignUpBtn {
    width: 100%;
    padding: 12px;
    background-color: #1dbf73;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SignUpBtn:hover {
    background-color: #17a860;
}

.SignUpInput select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .SignUpInput select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    outline: none;
  }

  .SignUpInput select:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }